@import "./typography.css";
html { 
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-size: 3vw;
}

body {
  transition: all 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 1rem;
  height: 100%;
  margin: 0;
  background-color: #035183;
}

footer {
  color: whitesmoke;
}

header {
  padding: 1.5rem 0 1.5rem 0;
  color: white;
  background-color: #035183;
}

#wordmark {
  width: 30rem;
  max-width: 84vw;
  align-self: center;
  padding: 0 8vw;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

#circle-s {
  text-combine-upright: all;
}

#main {
  color: #035183;
  background-color: #fff0fc;
  width: 100%;
  flex-grow: 1;
}

div#content {
  align-self: center; 
  width: 40rem;
  max-width: 84vw;
  height: 100%;
  text-align: left;
  padding: 3rem 8vw 0 8vw;
  flex-grow: 1;
}

footer {
  color: #035183;
  width: 100%;
  background-color: #fff0fc;
  padding: 1rem;
}
