@import "./typography.css";

:root {
  /* Also remember to change theme color in html head*/
  /* --primary-bg-color: #035183; */
  --primary-bg-color: #337964;
  --secondary-bg-color: #fff0fc;
}

html { 
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-size: 3vw;
}

body {
  /* transition: all 200ms ease-in-out; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 1rem;
  height: 100%;
  margin: 0;
  background-color: var(--primary-bg-color);
}


footer {
  color: whitesmoke;
}

header {
  padding: 1.5rem 0 1.5rem 0;
  color: white;
  background-color: var(--primary-bg-color);
}

#wordmark {
  width: 30rem;
  max-width: 80rem;
  align-self: center;
  padding: 0 8vw;
}

@media (min-width: 43rem){
  #wordmark {
    max-width: 20rem;
  }
}

@media (min-width: 62rem) {
  #wordmark {
    max-width: 10rem;
  }
}

@media (min-width: 82rem) {
  #wordmark {
    max-width: 8rem;
  }
}


.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

#circle-s {
  text-combine-upright: all;
}

#main {
  color: var(--primary-bg-color);
  background-color: var(--secondary-bg-color);
  width: 100%;
  flex-grow: 1;
}

div#content {
  align-self: center; 
  width: 40rem;
  max-width: 84vw;
  height: 100%;
  text-align: left;
  padding: 3rem 8vw 0 8vw;
  flex-grow: 1;
}

@media (min-width: 43rem){
  div#content {
    width: 30rem;
    height: 100%;
    text-align: left;
    padding: 3rem 8vw 0 8vw;
    flex-grow: 1;
  }
}

@media (min-width: 62rem) {
  div#content {
    align-self: center; 
    width: 20rem;
    max-width: 84vw;
    height: 100%;
    text-align: left;
    padding: 3rem 8vw 0 8vw;
    flex-grow: 1;
  }
}

@media (min-width: 82rem) {
  div#content {
    align-self: center; 
    width: 15rem;
    max-width: 84vw;
    height: 100%;
    text-align: left;
    padding: 3rem 8vw 0 8vw;
    flex-grow: 1;
  }
}

footer {
  color: whitesmoke;
  width: 100%;
  background-color: var(--secondary-bg-color);
  flex-grow: 1;
  align-self: flex-end;
}
