@import "./typography.css";

:root {
  /* Also remember to change theme color in html head*/
  /* --primary-bg-color: #035183; */
  --primary-bg-color: #28724F/* #337964 */;
  --primary-bg-color-accent: hsl(161, 41%, 88%);
  --secondary-bg-color: #fff0fc;
  --secondary-bg-color-accent: hsl(300, 30%, 94%);
}

html { font-size: 2.4vw; }
@media all and (min-width:1000px) { html { font-size: 24px; } }
@media all and (max-width:520px) { html{ font-size: 18px; } }


html { 
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  /* transition: all 200ms ease-in-out; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 1rem;
  height: 100%;
  margin: 0;
  background-color: var(--primary-bg-color);
}


footer {
  color: whitesmoke;
}

a {
  all: unset;
}

a.link {
  text-decoration: none;
  color: inherit;
  background: var(--secondary-bg-color-accent);
  border-radius: 0.2rem;
  padding-inline: 0.1rem;
  transition-property: background;
  transition-duration: 0.2s;
  }

a.link:hover {
  background: var(--primary-bg-color-accent);
  transition-property: all;
  transition-duration: 0.2s;
  
  }

a.link:before {
  position: relative;
  content: "\02197";
  margin-right: 0.10em;
  font-size: 90%;
  top: -0.10em;
  /* color: #933; */
  font-feature-settings: "caps";
  font-variant-numeric: normal;
  text-decoration: none;
}

a.map:before {
  content: "\1F4CD"
}

a.date:before {
  content: "\1F4C5"
}

header {
  padding: 1.5rem 0 1.5rem 0;
  color: white;
  background-color: var(--primary-bg-color);
}

li { 
  break-inside: avoid-column;
  margin-left: 1rem;
  }

#wordmark {
  width: 80vw;
  /* max-width: 80rem; */
  align-self: center;
  padding: 1em 0;
}

@media (min-width: 43rem){
  #wordmark {
    max-width: 20rem;
  }
}

@media (min-width: 62rem) {
  #wordmark {
    max-width: 10rem;
  }
}

@media (min-width: 82rem) {
  #wordmark {
    max-width: 8rem;
  }
}


.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

#circle-s {
  text-combine-upright: all;
}

#main {
  color: var(--primary-bg-color);
  background-color: var(--secondary-bg-color);
  width: 100%;
  flex-grow: 1;
}

#address {
  text-align: center;
  font-size: 0.8em;
  margin-top: 1rem;
  padding-top: 0.5rem;
  font-family: "park-lane", serif;
  font-weight: 100;
  font-style: normal;
  border-top-color: var(--secondary-bg-color);
  border-top-width: 0.1rem;
  border-top-style: solid;
}

div#content {
  align-self: center; 
  /* width: 40rem; */
  max-width: 84vw;
  text-align: left;
  padding: 0rem 8vw 3rem 8vw;
  flex-grow: 1;
}

@media (min-width: 43rem){
  div#content {
    width: 30rem;
    text-align: left;
    flex-grow: 1;
  }
}

@media (min-width: 62rem) {
  div#content {
    align-self: center; 
    /* width: 20rem; */
    max-width: 84vw;
    text-align: left;
    flex-grow: 1;
  }
}

@media (min-width: 82rem) {
  div#content {
    align-self: center; 
    /* width: 15rem; */
    max-width: 84vw;
    text-align: left;
    flex-grow: 1;
  }
}

footer {
  color: whitesmoke;
  width: 100%;
  background-color: var(--secondary-bg-color);
  flex-grow: 1;
  align-self: flex-end;
}
